<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>BienvenidoServlet</servlet-name>
        <servlet-class>servlet.BienvenidoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Formulario</servlet-name>
        <servlet-class>servlet.Formulario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BienvenidoServlet</servlet-name>
        <url-pattern>/procesar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Formulario</servlet-name>
        <url-pattern>/formulario</url-pattern>
    </servlet-mapping>

</web-app>
